.exam-table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.navbar-backgoundcolor {
    background-color: #00337C;
}

body {
    font-size: 15px !important
}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
    color: rgb(61, 61, 61);
}

.overflow_x {
    overflow-x: auto;
}

.overflow_y {
    height: 300px;
    overflow-y: auto;
}

.fw {
    font-weight: 800;
}